@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}



/* markdown */
:root {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        margin-top: 10px; /* Added top spacing */
        margin-bottom: 10px; /* Added bottom spacing */
    }

    th, td {
        text-align: left;
        padding: 16px;
        border: 1px solid #ddd;
        /*Added border
        to cells*/
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
}
